<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>e0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>e0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>e0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>e0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>j0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,104},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>j0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,104},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eli_running</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065ff658ee7d7b2dde03388251efca18:f10a4e81153a6b7ed8b3e404715d6541:a5eba88a3e1a9f7fa24e88fa4940b06f$</string>
            <key>textureFileName</key>
            <string>eli_running</string>
        </dict>
    </dict>
</plist>
