<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,130}}</string>
                <key>sourceSize</key>
                <string>{35,130}</string>
            </dict>
            <key>m0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,130}}</string>
                <key>sourceSize</key>
                <string>{35,130}</string>
            </dict>
            <key>m0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,130}}</string>
                <key>sourceSize</key>
                <string>{35,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mattress_bounce.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4527e6755f8315cfcf088b2ff08f0560:4f7efc5a404fa052dadff5b3cae2a431:5803c70f30c51510a0d6ffde8cdb5999$</string>
            <key>textureFileName</key>
            <string>mattress_bounce.png</string>
        </dict>
    </dict>
</plist>
