<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{60,32}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>s0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{60,36}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>s0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spring_animation.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e85f6c1788560e898c2c1b6a53b3a9c1:ae822a7c6a5dda1f58331292745ff5b9:260ae4a7cfeec379eb4d2d1e372d4580$</string>
            <key>textureFileName</key>
            <string>spring_animation.png</string>
        </dict>
    </dict>
</plist>
